.button {
  font-size: 1.5rem;
  font-family: "Linden Hill", serif;
  color: var(--Biege);
  background-color: var(--Brown);
  border: 0.625rem solid var(--Dark-Brown); /* 10px to rem */
  border-radius: 1.25rem; /* 20px to rem */
  cursor: pointer;
  width: 8em;
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}

.button:hover:not(:disabled) {
  border: 0.625rem solid var(--Biege); /* 10px to rem */
}

/* Media query for mobile devices in landscape orientation */
@media (max-width: 950px) and (orientation: landscape) {
  .button {
    font-size: 1.2rem;
    width: 7em;
  }
}