.keyRoom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.keyInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: fixed;
    bottom: 2rem;
    padding-bottom: 1rem;
}
.imageContainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16rem;
    height: 16rem;
    overflow: hidden;
}

.image{
    width: 100%;
    object-fit: cover;
}
/* Media query for mobile devices in landscape orientation */
@media (max-width: 768px) and (orientation: landscape) {
    .keyRoom {
        flex-direction: row;
    }

    .keyInfo {
        gap: 2rem;
    }

    .buttons {
        bottom: 1rem;
        gap: 0.5rem;
    }

    .imageContainer {
        width: 12rem;
        height: 12rem;
    }
}