.card {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 25em 1fr;
    grid-template-areas: "npcInfo imageContainer";
    z-index: 1;
}

.npcInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.questInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.npcName {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: var(--Biege);
    background-color: var(--Light-Brown);
    border: 10px solid var(--Dark-Brown);
    padding: 1rem;
    border-radius: 20px;
    
}

.npcDescription {
    display: none; /* zatim nevim kam to dat*/
}


.questText {
    font-size: 2em;
    color: var(--Biege);
    background-color: var(--Light-Brown);
    border: 10px solid var(--Dark-Brown);
    padding: 1rem;
    border-radius: 20px;
    width: 90%;
}

.questCondition {
    font-size: 2em;
    color: var(--Biege);
    background-color: var(--Light-Brown);
    border: 10px solid var(--Dark-Brown);
    padding: 1rem;
    border-radius: 20px;
}

.imageContainer {
    position: absolute;
    width: 100%;
    height: 100%;
}
.imageContainer img {
    position: absolute;
    bottom: 0;
    object-fit: cover;
    height: 25em;
    width: auto;
}


@media (max-width: 950px) and (orientation: landscape) {
    .card {
        grid-template-columns: 10em 1fr;
        grid-template-areas: "npcInfo";
    }
    .imageContainer img {
        height: 10em;
    }
    .npcName {
        font-size: 1.5em;
    }
    .questText {
        font-size: 1.5em;
    }
    .questCondition {
        font-size: 1.5em;
    }
    
}