:root {
    --Biege: #FFF0D1;
    --Light-Brown: #794b4b;
    --Brown: #633232;
    --Dark-Brown: #3B3030;
    --White: #FFFFFF;
    --Black: #000000;
    --Legendary: #FFA514;
    --Common: #34BC22;
    --Item-Backround: #5C5B5B;
    --Item-Backround-light: #9A9A9A;
    --Rare: #1C8BD0;
    --Red: #CF1A1A;

}