@import '../../colors.css';
.button {
    font-size: 2rem;
    font-family: "Linden Hill", serif;
    color: var(--Biege);
    background-color: var(--Brown);
    border: 10px solid var(--Dark-Brown);
    border-radius: 20px;
    cursor: pointer;
}

.button:hover {
    border: 10px solid var(--Biege);
}
