.shopPage {
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  gap: 0 3rem;
}

.backButton {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
}

h2 {
  color: var(--Biege);
  font-size: 2rem;
  background-color: var(--Brown);
  border-radius: 20px;
  border: 10px solid var(--Dark-Brown);
  width: 100%;
  text-align: center;
}

.shopContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.itemContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.5);
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}

.itemInfo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.itemStats {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.imageContainer {
  width: 4rem;
  height: 4rem;
  border: 20px solid var(--Item-Backround);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image{
  width: 4rem;
  height: 4rem;
  background-color: var(--Item-Backround-light);
  border-radius: 20px;
}

.Common {
  border: 10px solid var(--Common);
}

.Rare {
  border: 10px solid var(--Rare);
}

.Legendary {
  border: 10px solid var(--Legendary);
}

.hidden {
  display: none;
}