.shopPage {
}
  
.offerwall {
}
  
.items {
}

.shopContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
  
.item {
  display: flex;
  flex-direction: row;
}
  
.item img {
  width: 100px;
  height: 100px;
}