.backpack {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(88px, 1fr));
    width: 100%;
    min-height: 352px;
    overflow-y: auto;
}

.backpackItem {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: var(--Item-Backround-light);
    border: solid 10px var(--Item-Backround);
}

.info {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: var(--Brown);
    border: solid 10px var(--Dark-Brown);
    padding: 10px;
    border-radius: 10px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.info p {
    margin: 0;
}

.info button {
    margin-top: 5px;
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: var(--Item-Backround-light);
    border: solid 10px var(--Item-Backround);
}

.img {
    width: 100%;
    height: 100%;
}

.quantity {
    position: absolute;
    top: 45%;
    right: 20%;
    font-size: 1.5rem;
    color: var(--Dark-Brown);
}