.equipmentSlot {
  display: flex;
  flex-direction: column;
}

.slot {
  display: flex;
  position: relative;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.625rem;
  height: 6.625rem;
}

.image {
  width: 5rem;
  height: auto;
}

.info {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(10px, -50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info p {
  margin: 0;
}

.info button {
  margin-top: 5px;
}

.sideInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 1.5rem;
  gap: 1rem;
}

.emptySlot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.625rem;
  height: 6.625rem;
  background-color: var(--Brown);
  border: solid 10px var(--Dark-Brown);
  color: var(--Biege);
  font-size: 1rem;
  text-align: center;
}

/* Media query for mobile devices in landscape orientation */
@media (max-width: 768px) and (orientation: landscape) {
  .imageContainer {
      width: 5rem;
      height: 5rem;
  }

  .image {
      width: 4rem;
  }

  .info {
      transform: translate(5px, -50%);
  }

  .sideInfo {
      padding: 0.5rem;
      font-size: 1.2rem;
      gap: 0.5rem;
  }

  .emptySlot {
      width: 5rem;
      height: 5rem;
      border: solid 8px var(--Dark-Brown);
      font-size: 0.8rem;
  }
}