.inventoryButton {
  position: absolute;
  top: 10%;
  right: 0;
  background-color: var(--Brown);
  border: solid 10px var(--Dark-Brown);
  border-radius: 10px;
  cursor: pointer;
  padding: 0.5rem;
  margin: 1rem;
  z-index: 102;
}

.inventoryButton:hover{
  border: solid 10px var(--Biege);
}
.inventoryButton img {
  width: 3rem;
  height: 3rem;
  background-color: none;
  padding: 0;
  margin: 0;
}

.inventoryButtonMenu{
  font-size: 2rem;
  font-family: "Linden Hill", serif;
  color: var(--Biege);
  background-color: var(--Brown);
  border: 10px solid var(--Dark-Brown);
  border-radius: 30px;
  cursor: pointer;
  margin: 1rem;
  padding: 1rem;
  width: 16rem;
  transition: all 0.3s ease-in-out;
  z-index: 102;
}
/* Media query for mobile devices in landscape orientation */
@media (max-width: 768px) and (orientation: landscape) {
  .inventoryButton {
      top: 5%;
      padding: 0.3rem;
      margin: 0.5rem;
  }

  .inventoryButton img {
      width: 2.5rem;
      height: 2.5rem;
  }

  .inventoryButtonMenu {
      font-size: 1.5rem;
      padding: 0.8rem;
      width: 14rem;
  }
}