@import '/src/colors.css';
.button {
    font-size: 2.5rem;
    font-family: "Linden Hill", serif;
    color: var(--Biege);
    background-color: var(--Brown);
    border: 10px solid var(--Dark-Brown);
    border-radius: 25px;
    cursor: pointer;
    padding: 0.5rem;
    width: 15rem;
}

.button:hover {
    border: 10px solid var(--Biege);
}

.buttonNonVisible{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}