.container{
  border: .25rem solid var(--Item-Backround);
  border-radius: 10px;
}
.imageContainer {
  width: 4.5rem;
  height: 4.5rem;
}
  
.image {
  height: 4rem;
  background-color: var(--Item-Backround-light);
  border: solid .25rem var(--Item-Backround);
  border-radius: 2.5px;
}
  
.Common {
  border: .25rem solid var(--Common);
  border-radius: 5px;
}
  
.Rare {
  border: .25rem solid var(--Rare);
  border-radius: 5px;
}
  
.Legendary {
  border: .25rem solid var(--Legendary);
  border-radius: 5px;
}
/* Media query for mobile devices in landscape orientation */
@media (max-width: 768px) and (orientation: landscape) {
  .gameControls {
      flex-direction: column;
      padding: 0.5rem;
      gap: 0.5rem;
  }

  .gameControls button {
      font-size: 0.8rem;
      padding: 0.4rem;
  }

  .import input[type="file"] {
      font-size: 80px;
  }
}