.button {
  font-size: 2rem;
  font-family: "Linden Hill", serif;
  color: var(--Biege);
  background-color: var(--Brown);
  border: 10px solid var(--Dark-Brown);
  border-radius: 30px;
  cursor: pointer;
  margin: 1rem;
  padding: 1rem;
  width: 16rem;
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}

.button:hover:not(:disabled) {
  border: 10px solid var(--Biege);
}