.namePage {
    width: 100vw;
    height: 100vh;
    background: url('../assets/image.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Arial', sans-serif;
    position: relative;
}

.title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 36px;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: 100vh;
  }
  
  .title {
    margin-bottom: 20px;
  }
  
  .mapButtonConatiner {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; 
      justify-content: center;
      gap: 20px;
  }
   
  
  .mapButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mapButtonIcon{
    cursor: pointer;
  }
  .mapButton:hover {
  }