.title {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 2.25rem; /* 36px to rem */
  font-weight: bold;
}

.container {
height: 100vh;
}

.title {
margin-bottom: 1.25rem; /* 20px to rem */
}

.mapButtonContainer {
height: 100vh;
}
.mapButtonContainer div {
width: fit-content;
height: fit-content;
}
.mapButtonIcon {
cursor: pointer;
height: 4.5rem;

}

.mapButton {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

/* Positioning */
.Dungeon2 {
position: absolute;
top: 56%;
left: 20%;
transform: translate(-50%, -50%);
z-index: 10;
}
.Dungeon3 {
position: absolute;
top: 23%;
left: 38%;
transform: translate(-50%, -50%);
z-index: 10;
}
.Dungeon4 {
position: absolute;
top: 24%;
left: 74%;
transform: translate(-50%, -50%);
z-index: 11;
}
.Dungeon5 {
position: absolute;
top: 51%;
left: 79%;
transform: translate(-50%, -50%);
z-index: 10;
}
.Dungeon6 {
position: absolute;
top: 12%;
left: 54%;
transform: translate(-50%, -50%);
z-index: 10;
}

.Town {
position: absolute;
top: 25%;
left: 53%;
transform: translate(-50%, -50%);
}
.Town2 {
position: absolute;
top: 43%;
left: 49%;
transform: translate(-50%, -50%);
background-color: transparent;
}

/* Media query for mobile devices in landscape orientation */
@media (max-width: 950px) and (orientation: landscape) {
  .mapButtonIcon {
    height: 3rem;
  }
  .mapButtonContainer button{
    font-size: 1rem;
  }

  .Dungeon6 {
    top: 86%;
    left: 63%;
  }
}