.namePage {
    width: 100vw;
    height: 100vh;
    background: url('../assets/image.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Arial', sans-serif;
    position: relative;
}

.title {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 36px;
    font-weight: bold;
}


.buttonContainer {
    position: absolute;
    background-color: #541f1f;
    bottom: 80px; 
    left: 50%; 
    transform: translateX(-50%); 
}
