.menuPage {
    font-family: "Linden Hill", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    min-height: 100vh;
    width: 100vw;
    
  }
  
  .title {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 8rem;
    margin: 2rem;
    margin-top: 4rem;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 4rem;
  }

