.tavernPage{
    height: 100vh;
    color: var(--Dark-Brown);
    font-weight: bold;
}
.back{
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 100;
}

.questList{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--Biege);
    background-color: var(--Light-Brown);
    padding: 1rem;
    border: 10px solid var(--Dark-Brown);
    border-radius: 10px;

}

.activeQuest{
    height: 100%;
}

.completeButton{
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

/* Media query for mobile devices in landscape orientation */
@media (max-width: 768px) and (orientation: landscape) {
    .tavernPage {
        padding: 1rem;
    }

    .back {
        top: 0.5rem;
        left: 0.5rem;
    }

    .questList {
        margin-top: 1rem;
        padding: 0.5rem;
        border: 8px solid var(--Dark-Brown);
        border-radius: 8px;
    }

    .completeButton {
        bottom: 0.5rem;
        padding: 0.5rem;
    }
}