.fightContainer{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
}
.monsterInfo{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--Brown);
    border: 10px solid var(--Dark-Brown);
    border-radius: 20px;
    font-size: 2rem;
}
.monsterInfo h3{
    margin: 0;
    padding: 1rem;
}
.monsterImageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.healthBarWrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.heartImage{
    width: 50px;
    height: 50px;
    margin-right: -2rem;
    padding: 1rem;
    background-color: var(--Brown);
    border: 10px solid var(--Dark-Brown);
    border-radius: 100%;
}

.monsterImage{
    height: 700px;
    width: auto;
}
.healthBarContainer{
    width: 20rem;
    padding: 1rem;
    background-color: var(--Brown);
    border: 10px solid var(--Dark-Brown);
    border-radius: 20px;
    z-index: -1;

}

.buttonContainer{
    position: absolute;
    bottom: 3em;
}

/* Media query for mobile devices in landscape orientation */
@media (max-width: 950px) and (orientation: landscape) {
    .fightContainer {
        flex-direction: row;
    }

    .monsterInfo {
        font-size: 1.5rem;
        padding: 0.8rem;
    }

    .monsterImageContainer {
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .heartImage {
        width: 40px;
        height: 40px;
        padding: 0.8rem;
    }

    .monsterImage {
        height: 500px;
    }

    .healthBarContainer {
        width: 15rem;
        padding: 0.8rem;
    }

    .buttonContainer {
        bottom: 1.5em;
    }
}